*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
.css-16janke-MuiStack-root>:not(style):not(style){
  margin: auto !important;
}
.css-hud6bj-MuiLinearProgress-bar1{
background-color: #56a745 !important;
}
.css-1e8gvwt-MuiLinearProgress-bar1{
  background-color: #253644 !important;
}
@media (min-width: 992px) {
  .css-19v7jyx-MuiContainer-root {
      max-width: 1200px !important;
  }
}
@media (max-width: 768px) {
  .css-1yjnhim-MuiStack-root>:not(style)~:not(style) {
    margin-left: 0px !important; 
}
.css-cjv43n-MuiGrid-root>.MuiGrid-item{
  padding-left: 0px !important;
}
}
.slick-dots li button{
  color: white !important;
}
.slick-dots li button:before{
  color: white !important;
  font-size: 10px !important;
}