*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
.App{
  padding: 10px 0px;
  color: white;
  background: black;

}
.App ul li{
  display: inline-block;
  margin: 0px 10px;
  cursor: pointer;
}
.App ul li a{
 color: white;
 text-decoration: none;
}
.app_footer{
  padding: 10px 0px;
  background-color: black;
  color: white;
  text-align: center;
  text-transform: capitalize;
  margin-top: 20px;
}