* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
.css-16janke-MuiStack-root>:not(style):not(style) {
  margin: auto !important;
}
@media (min-width: 1200px) {
  .css-19v7jyx-MuiContainer-root {
      min-width: 1200px;
  }
}
@media (max-width: 768px) {
  .css-1yjnhim-MuiStack-root>:not(style)~:not(style) {
    margin-left: 0px !important;
  }
  .css-cjv43n-MuiGrid-root>.MuiGrid-item {
    padding-left: 0px !important;
  }
}
.slick-dots li button {
  color: white !important;
}
.slick-dots li button:before {
  color: #56a745 !important;
  font-size: 10px !important;
}
.slick-dots li button{
  color: white !important;
}
.slick-dots li button:before{
  color: white !important;
  font-size: 10px !important;
}
.slick-dots li button:before:hover{
  color: rgb(87, 179, 62) !important;
}
.slick-dots li.slick-active button:before{
  color: rgb(87, 179, 62) !important;
}
.banner_bg {
  background-image: url('https://src.n-ix.com/uploads/2023/11/27/42899ff8-fbbf-494d-9947-0d665ec28709.webp');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; 
  height: 500px; 
}
.vnt_bg{
     position: relative; /* Position ko relative karna hoga */
    background-image: url('../public/assets/images/vnt.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 500px;
  }
  .vnt_bg::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00000036; /* Light black overlay */
    z-index: 0; /* Peeche rakhne ke liye */
  }

.contact_bg {
  background-image: url('../public/assets/images/contact.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 500px;
}

.sevices_bg {
  position: relative; /* Position ko relative karna hoga */
  background-image: url('../src/landingUI/img/services.jfif');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 500px;
}
.sevices_bg::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00000061; /* Light black overlay */
  z-index: 0; /* Peeche rakhne ke liye */
}

.blog_link {
  text-decoration: none !important;
  transition: 0.5s;
  color: rgb(12, 34, 38);
  cursor: pointer;
}

.blog_link:hover {
  color: rgb(255, 102, 0);
  transition: 0.5s;
}

@import 'simplebar-react/dist/simplebar.min.css';


